<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.assets.mappers.login">
	
	<!-- 로그인 -->
	<select id="login" resultType="com.assets.domain.LoginVO">
	 	SELECT ID, AUTHORITY_CODE, SEQ FROM tb_admin WHERE ID = #{id} AND PWD = #{pwd}
	</select>
	
</mapper>